.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  min-height: 500px;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */

}

.checkout__ad {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

a {
  text-decoration: none;
}
